<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href="/css/sticky-footer.css" rel="stylesheet">
    <title>User Details</title>
</head>
<body>
<main role="main" class="container">
    <h1 class="mt-5 user-id">User ID: </h1>
    <p class="lead user-firstname">First Name: </p>
    <p class="lead user-lastname">Last Name: </p>
    <p class="lead user-email">Email: </p>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Alex Soft 2018</span>
    </div>
</footer>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/ajaxscripts.js"></script>
<script th:inline="javascript">
    var url = [[@{/users/{userId}(userId=${userid})}]];
    $(document).ready(getuserdata(url));
</script>
</body>
</html>